body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  .error{
    font-size: 10px;
    color: red;}
  /* Add padding to containers */
  .container {
    padding: 16px;
    float: left;
    background-color: white;
    
    max-width: 50%;
  }
  label{
      font-size: 14px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin: 3px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  /* Set a style for the submit button */
  .addbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
  }
  
  .addbtn:hover {
    opacity: 1;
  }
  